<div layout="row" layout-padding>
	<div>Name: {{gc.vars.currentName}}</div>
</div>
<div layout="row" layout-padding>
	Quest: {{gc.vars.currentTask.questType[0]}} {{gc.vars.currentTask.questType[2]}}&nbsp;

	<span 	ng-class="	{	challenge_0: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === -4),
							challenge_1: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === -3),
							challenge_2: 	((	gc.vars.currentTask.baseType === 'FIND' || 
												gc.vars.currentTask.baseType === 'GIVE' || 
												gc.vars.currentTask.baseType === 'RETRIEVE') && 
												(gc.vars.currentTask.target.rarity > 1 && 
												gc.vars.currentTask.target.rarity < 5)) || 
											((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === -2),
							challenge_3: 	((	gc.vars.currentTask.baseType === 'FIND' || 
												gc.vars.currentTask.baseType === 'GIVE' || 
												gc.vars.currentTask.baseType === 'RETRIEVE') && 
												gc.vars.currentTask.target.rarity === 1) || 
											((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === -1),
							challenge_4: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === 1),
							challenge_5: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === 2),
							challenge_6: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === 3),
							challenge_7: 	((	gc.vars.currentTask.baseType === 'FIND' || 
												gc.vars.currentTask.baseType === 'GIVE' || 
												gc.vars.currentTask.baseType === 'RETRIEVE') && 
												gc.vars.currentTask.target.rarity === 5) || 
											((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === 4)}">
		<span ng-if="	gc.vars.currentTask.baseType === 'FIND' || 
						gc.vars.currentTask.baseType === 'GIVE' || 
						gc.vars.currentTask.baseType === 'RETRIEVE'">
			{{gc.vars.currentTask.target.target}}
		</span>
		<span ng-if="	gc.vars.currentTask.baseType === 'FIGHT' || 
						gc.vars.currentTask.baseType === 'DIPLOMACY'">
			{{gc.vars.currentTask.target.target.creature}}
		</span>
	</span>
</div>

<md-progress-linear md-mode="determinate" value="{{gc.vars.progressBars.taskDisplay.displayValue}}" layout="row" layout-padding></md-progress-linear>

<div layout="row" layout-padding>
	{{gc.vars.currentTask.questType[1]}} {{gc.vars.currentTask.questType[2]}}&nbsp;
		<span 	ng-class="	{	challenge_0: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === -4),
							challenge_1: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === -3),
							challenge_2: 	((	gc.vars.currentTask.baseType === 'FIND' || 
												gc.vars.currentTask.baseType === 'GIVE' || 
												gc.vars.currentTask.baseType === 'RETRIEVE') && 
												(gc.vars.currentTask.target.rarity > 1 && 
												gc.vars.currentTask.target.rarity < 5)) || 
											((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === -2),
							challenge_3: 	((	gc.vars.currentTask.baseType === 'FIND' || 
												gc.vars.currentTask.baseType === 'GIVE' || 
												gc.vars.currentTask.baseType === 'RETRIEVE') && 
												gc.vars.currentTask.target.rarity === 1) || 
											((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === -1),
							challenge_4: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === 1),
							challenge_5: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === 2),
							challenge_6: 	((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === 3),
							challenge_7: 	((	gc.vars.currentTask.baseType === 'FIND' || 
												gc.vars.currentTask.baseType === 'GIVE' || 
												gc.vars.currentTask.baseType === 'RETRIEVE') && 
												gc.vars.currentTask.target.rarity === 5) || 
											((	gc.vars.currentTask.baseType === 'FIGHT' ||
												gc.vars.currentTask.baseType === 'DIPLOMACY') && 
												gc.vars.currentTask.target.rarity === 4)}">
		<span ng-if="	gc.vars.currentTask.baseType === 'FIND' || 
						gc.vars.currentTask.baseType === 'GIVE' || 
						gc.vars.currentTask.baseType === 'RETRIEVE'">
			{{gc.vars.currentTask.target.target}}
		</span>
		<span ng-if="	gc.vars.currentTask.baseType === 'FIGHT' || 
						gc.vars.currentTask.baseType === 'DIPLOMACY'">
			{{gc.vars.currentTask.target.target.creature}}
		</span>
	</span>
</div>

<md-button class="md-raised md-primary" ng-click="gc.methods.click()">Click Me</md-button>
