.uncommon { color: green; }
.rare { color: blue; }
.legendary { color: DarkMagenta; }

.extremelyweak { color: DarkGray;}
.veryweak { color: DeepSkyBlue; }
.weak { color: DarkOliveGreen;}
.tough { color: gold; }
.strong { color: DarkOrange; }
.mighty { color: crimson; }
.terrifying { color: DarkMagenta; }